<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>test</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>neuedu.root</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation1</param-name>
        <param-value>classpath:applicationContext-mvc.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>demo06</servlet-name>
        <servlet-class>com.mulberry.demo.demo06</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>demo06</servlet-name>
        <url-pattern>/demo06</url-pattern>
    </servlet-mapping>


</web-app>