<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置dao层-->
    <bean id="loginDao" class="com.mulberry.demo01.dao.demo01daoImpl"></bean>
    <!--配置service层-->
    <bean id="loginService" class="com.mulberry.demo01.service.demo01serviceImpl">
        <property name="loginDao" ref="loginDao"></property>
    </bean>

</beans>